@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');


/* variables */


:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body{
   width: 100vw;
   height: 100vh;
   font-size: .7rem;
   user-select: none;
   overflow-x: hidden;
   background: var(--clr-color-background);
   font-family: 'Poppins', sans-serif;
}

.container  {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 16rem;
  margin: 0 auto;
}

a{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 2.8rem;
}
h2{
  font-size: 1.4rem;
  /* text-align: center; */
  /* padding: 10px; */
}
h3{
  font-size: 0.87;
}
h4{
  font-weight: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
  color: #677483;
}
.profile-photo img{
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}
.text-muted{
  color: var(--clr-info-dark);
}
p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-danger);
}

.warning {
  color: var(--clr-warnig);
}


/* aside */
 aside{
  height: 100vh;
 }
 aside .top{
  background: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
 }

 aside .logo{
   display: flex;
   gap: 1rem;
 }
 aside .logo img{
   width: 2rem;
   height: 2rem;
 }
 aside .top div.close span{
   display: none;
 }

 /* ===================
 Sidebar
 ================== */

 aside .sidebar{
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 1rem;
 }

 aside h3{
  font-weight: 500;
 }

 aside .sidebar a{
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
 
 }

 aside .sidebar a span{
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  
 }

 aside .sidebar a:last-child{
  position: absolute;
  bottom: 1rem; 
  width: 100%;
 }

 aside .sidebar a.active{
   background-color: var(--clr-light);
   color: var(--clr-primary);
   margin-left: 0;
   border-left: 5px solid var(--clr-primary);
   margin-left: calc(1rem - 3px);
 }
 aside .sidebar a:hover span{
  margin-left: 1rem;
 }

 aside .sidebar a span.msg_count{
   background-color: var(--clr-danger);
   color: var(--clr-white);
   padding: 2px 5px;
   font-size: 11px;
   border-radius: var(--border-radius-1);
 }

 /* ----------------------------
 --------- Main--------------
 ------------------------------ */

 main{
  margin-top: 1.4rem;
  width: auto;
 }
 main input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--clr-dark);
 }



main .insights{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 1.6rem;
   padding-top: 50px;
}
main .insights>div{
   background-color: var(--clr-white);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 1rem;
   box-shadow: var(--box-shadow);
   transition: all .3s ease;
}

main .insights > div:hover{
  box-shadow: none;
}
main .insights>div  span{
   background: coral;
    padding: 0.5rem;
     border-radius: 50%;
     color: var(--clr-white);
     font-size: 2rem; 
  }

main .insights > div.expenses span{
   background: var(--clr-danger);
}
main .insights > div.income span{
  background: var(--clr-success);
}

main .insights > div .middle{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
main .insights > div .middle h1{
  font-size: 1.6rem;
}

main h1{
  color: var(--clr-dark);
}
main .insights h1{
  color: var(--clr-dark);
}
main .insights h3{
  color: var(--clr-dark);
}
main .insights p{
  color: var(--clr-dark);
}
main .insights h3{
  
    color: var(--clr-dark);
  
  
}

main .insights .progress{
  position: relative;
  height: 68px;
  width: 68px;
  border-radius: 50px;
}



main .insights svg{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
}

main .insights svg circle{
  fill: none;
  stroke: var(--clr-primary);
   transform: rotate(270,80,80);
   stroke-width: 5;
}
main .insights .sales svg circle{
   stroke-dashoffset: 0;
   stroke-dasharray: 150;
}

main .insights .expenses svg circle{
  stroke-dashoffset: 10;
  stroke-dasharray: 150;
}
main .insights .sales svg circle{
  stroke-dashoffset: 0;
  stroke-dasharray: 150;
}
main .insights .income svg circle{
  stroke: var(--clr-success);
}

main .insights .progress .number{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* recent order */

main .recent_order{
   margin-top: 2rem;
}

main .recent_order h2{
    color: var(--clr-dark);
}

main .recent_order h2{
  margin-bottom: 0.8rem;
}

main .recent_order table{
  background: var(--clr-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
  color: var(--clr-dark);
}
main .recent_order table:hover{
  box-shadow: none;
}

main table tbody td{
   height: 3.8rem;
   border-bottom: 1px solid var(--clr-white);
   color:var(--clr-dark-variant)
}
main table tbody tr:last-child td{
   border: none;
}

td img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #677483;
  border-radius: 10px;
}


.popup {
  display: none; 
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.popup .close:hover,
.popup .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


main .recent_order a{
  text-align: center;
  display: block;
  color: #677483;
  /* margin: 1rem; */
}

/*********************
Right Side
**********************/

.right{
  margin-top: 1.4rem;
}
.right h2{
  color: var(--clr-dark);
}
.right .top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.right .top button{
  display: none;
}

.right .theme-toggler{
  background: var(--clr-white);
  display: flex;
  justify-content: space-between;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active{
  background: var(--clr-primary);
  color: #fff;
}


.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}
.info{
  padding-top: 10px;
}
.right  .info h3{
  color: var(--clr-dark);
}
.right  .item h3{
  color: var(--clr-dark);
}

/* recent update */

.right .recent_updates{
  margin-top: 1rem;
  margin-left: -20px;
}
.right .recent_updates .updates{
  margin-top: 10px;
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
   transition: all .3s ease;
}
.right .recent_updates .updates:hover{
  box-shadow: none;
}
.right .recent_updates .update{
   display: grid;
   grid-template-columns: 2.6rem auto;
   gap: 1rem;
   margin-bottom: 1rem;
}

#quantity {
  background-color: transparent;
  color: #677483;
  border: none;
  margin-left: 8px;
  width: 53px;
  cursor: pointer;
}


/*-----------------------------------*\
  #DELETE BUTTON
\*-----------------------------------*/

tbody button {
  cursor: pointer;
  width: 40px; 
  height: 40px;  
  border: none;
  position: relative;
  border-radius: 8px;  
  -webkit-box-shadow: 1px 1px 5px .2px #00000035;
  box-shadow: 1px 1px 5px .2px #00000035;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  transition-delay: .2s;
  background-color: #2b2a2a;
}

tbody button:hover {
  width: 140px;  
  transition-delay: .2s;
}

tbody button:hover > p {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

tbody button:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

tbody button:hover > .icon-wrapper .icon path {
  stroke: black;
}

.button-container-p {
  color: #677483;
  visibility: hidden;
  opacity: 0;
  font-size: 16px;
  margin-left: -24px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-wrapper {
  background-color: rgb(255, 69, 69);
  border-radius: 8px;  
  width: 40px;  
  height: 40px;  
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(0.8);  
  transition: .2s linear;
}
